[Unit]
Description=Gunicorn instance to serve API_TDT_stackoverflow
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/API_TDT_stackoverflow
Environment="PATH=/home/ubuntu/API_TDT_stackoverflow/.APIenv/bin"
ExecStart=/home/ubuntu/API_TDT_stackoverflow/.APIenv/bin/gunicorn --workers 1 --bind unix:API_TDT_stackoverflow.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
